@model IEnumerable<Product>

<div class="row">
    <div class="col-lg-10">
        <h1>Product Table</h1>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-primary" asp-action="Create">Create Product</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th >#</th>
                    <th >Title</th>
                    <th >Price</th>
                    <th >Discount Price</th>
                    <th>Settings</th>
                </tr>
            </thead>
            <tbody id="ProductTable">
                @await Html.PartialAsync("_ProductTablePartial",Model) 
            </tbody>
        </table>
    </div>

</div>